$primary-color: #5C02A7;
$secondary-color: #188A06;
$border-gray: rgba(225, 225, 226, 0.8);
$blacker: #000;
$white: #fff;

* {
     text-decoration: none;
     margin: 0;
     padding: 0;
}

#container {
     // display: flex;
     // flex-direction: column;
     width: 90%;
     margin: 11% auto;
     border: 1px solid $border-gray;
     box-shadow: 0 0 10px #000;
     min-height: 600px;
     background-color: $blacker;

     #header {
          display: flex;
          flex-flow: column wrap;

          @media (min-width:880px) {
               height: 120px;
               flex-flow: row wrap;
               align-items: center;
               // justify-content: space-between;
               border-bottom: 1px solid $border-gray;
          }


          .logo {
               flex-basis: 65%;
               flex-grow: 1;
               text-align: center;
               text-transform: uppercase;

               @media(min-width:880px) {
                    text-align: left;
                    margin-left: 3%;
               }

               h1 {
                    font-family: Arial, Helvetica, sans-serif;
                    font-style: italic;
                    font-weight: bold;
                    font-size: 202%;
                    margin: 20px 0;
                    color: $white;
                    text-shadow: 4px 4px 1px $secondary-color;

                    @media (min-width:880px) {
                         margin: 0;
                    }
               }
          }

          #menu {
               flex-grow: 1;
               flex-basis: 30%;
               height: 100%;
               margin-top: 16px;


               @media (min-width:880px) {
                    margin-top: 0;
                    padding-right: 10px;
               }

               ul {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    height: 100%;
                    align-items: center;
                    justify-content: space-between;
                    list-style: none;
               }

               a {
                    color: $primary-color;
                    font-weight: bold;
                    text-transform: uppercase;
                    padding: 12px;
                    text-shadow: 0 0 14px $secondary-color;

                    @media (min-width:880px) {
                         padding: 18px;
                         transition: all 500ms;


                    }

               }

               a:hover {
                    @media (min-width:880px) {
                         color: $white;
                         background-color: $primary-color;
                         text-shadow: 0 0 10px $white;
                    }
               }
          }
     }

}